.prism-grid {
  display: grid;
  gap: var(--s-5);
}

.prism-grid:not([data-cols]) {
  grid-template-columns: repeat(4, 1fr);
}
@media (min-width: 600px) {
  .prism-grid:not([data-cols]) {
    grid-template-columns: repeat(8, 1fr);
  }
}
@media (min-width: 1024px) {
  .prism-grid:not([data-cols]) {
    grid-template-columns: repeat(12, 1fr);
  }
}

.prism-grid[data-cols] {
  grid-template-columns: repeat(var(--prism-grid-cols), 1fr);
}
